body {
    font-family: "monospace", sans-serif;
}

.font-primary {
    color: blue;
}

.font-white {
    color: white;
}

.font-red {
    color: red;
}

.font-green {
    color: green;
}

.font-blue {
    color: blue;
}

.font-yellow {
    color: yellow;
}

.font-orange {
    color: orange;
}

.font-purple {
    color: purple;
}

.title-icon {
    font-size: 20px;
    font-weight: bold;
}

p {
    font-size: 14px;
}

h2 {
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 20px;
}

a.font-black {
    color: black !important;
}

#about {
    margin: 60px auto;
    max-width: 400px;
    text-align: center;
}

#about img {
    border-radius: 50%;
    width: 120px;
    margin-bottom: 10px;
}

#about .name {
    font-size: 19px;
}

#about .vocation {
    font-size: 17px;
    color: #ababab;
    margin-bottom: 10px;
}

#about .skills {
    font-size: 14px;
    color: #00abae;
    margin-bottom: 10px;
}

#about .email {
    margin-top: 14px;
    font-size: 15px;
}

#about .icons {
    margin-top: 20px;
    font-size: 30px;
}

#about .icons a {
    color: black;
}

#project {
    margin: 60px auto;
    width: 80%;
}

#project h2 {
    text-align: center;
}

#project .card img {
    width: 100%;
    border-radius: 3%;
}

#project .card-title {
    font-weight: bold;
}

img.bg-image {
    position: relative;
    width: 100%;
}

.container-content {
    position: absolute;
    top: 0;
}